Exp3.  Descriptive Statistics - Measures of Central Tendency and variability 
Perform the following operations on any open source dataset (e.g., data.csv) 
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.  
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-virginica’ of iris.csv dataset. 
Provide the codes with outputs and explain everything that you do in this step.

In [ ]:
import numpy

age = [99,86,87,88,111,86,103,87,94,78,77,85,86]

print("Mean: ",numpy.mean(age))
print("Median: ",numpy.median(age))
print("Minimum: ",numpy.min(age))
print("Maximum: ",numpy.max(age))
print("Standard Deviation: ",numpy.std(age))

In [ ]:
from scipy import stats

age = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = stats.mode(age)

In [ ]:
n_num = [1, 2, 3, 4, 5]
n = len(n_num)

get_sum = sum(n_num)
mean = get_sum/n

print("Mean / Average is : " + str(mean))

In [ ]:
n_num = [1, 2, 3, 4, 5]
n = len(n_num)
n_num.sort()

if n % 2 == 0:
    median1 = n_num[n//2]
    median2 = n_num[n//2-1]
    median = (median1 + median2)/2
else:
    median = n_num[n//2]
print("Median is : " + str(median))

In [ ]:
from collections import Counter

n_num = [1, 2, 3, 4, 5, 5]
n = len(n_num)

data = Counter(n_num)

get_mode = dict(data)
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]

if len(mode) == n:
    get_mode = "No mode found"
else:
    get_mode = "Mode is/are : " + ', '.join(map(str,mode))
print(get_mode)

In [ ]:
# Imp------------------
import pandas as pd

data = {
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female'],
    'Department': ['CS', 'Math', 'CS', 'Math', 'Bio', 'CS', 'Bio', 'Math'],
    'GPA': [3.5, 3.8, 3.2, 2.9, 3.7, 3.0, 2.8, 3.9],
    'Attendance (%)': [88, 95, 82, 76, 93, 80, 70, 98]
}

df = pd.DataFrame(data)
df

In [ ]:
dept_stats = df.groupby('Department').agg({
    'GPA': ['mean', 'min', 'max'],
    'Attendance (%)': ['mean']
}).reset_index()

dept_stats

2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-virginica’ of iris.csv dataset.Provide the codes with outputsandexplaineverything thatyou doin this step.

In [ ]:
import pandas as pd

data = pd.read_csv(r"D:\TE\DSBDALab\Iris.csv")

print('Iris-setosa')
setosa= data['Species'] == 'Iris-setosa'
print(data[setosa].describe())

print('\nIris-versicolor')
versicolor= data['Species'] == 'Iris-versicolor'
print(data[versicolor].describe())

print('\nIris-virginica')
virginica = data['Species'] == 'Iris-virginica'
print (data[virginica].describe())

In [ ]:
data.describe()

In [ ]:
data.info()

Method 2

In [1]:
import pandas as pd
import numpy as np

# Set random seed for reproducibility
np.random.seed(42)

# Generate synthetic data
n = 100
age_groups = np.random.choice(['18-25', '26-35', '36-45', '46-60'], size=n)
income = np.random.normal(loc=50000, scale=10000, size=n).astype(int)
spending_score = np.random.normal(loc=60, scale=15, size=n).astype(int)
savings = np.random.normal(loc=15000, scale=5000, size=n).astype(int)

# Create DataFrame
df = pd.DataFrame({
    'AgeGroup': age_groups,
    'Income': income,
    'SpendingScore': spending_score,
    'Savings': savings
})

df

   AgeGroup  Income  SpendingScore  Savings
0     36-45   57384             63    11037
1     46-60   51713             79    14426
2     18-25   48843             35    17524
3     36-45   46988             62    19328
4     36-45   35214             63     8998
..      ...     ...            ...      ...
95    26-35   65499             69    14264
96    26-35   42167             29    10872
97    46-60   46779             62    13393
98    26-35   58135             50    17064
99    18-25   37691             72    12181

[100 rows x 4 columns]

In [2]:
# Group by AgeGroup and compute stats for each numeric variable
summary = df.groupby('AgeGroup').agg({
    'Income': ['mean', 'median', 'min', 'max', 'std'],
    'SpendingScore': ['mean', 'median', 'min', 'max', 'std'],
    'Savings': ['mean', 'median', 'min', 'max', 'std']
})

# Format columns
summary.columns = ['_'.join(col).title() for col in summary.columns]
summary.reset_index(inplace=True)

print(summary)

  AgeGroup   Income_Mean  Income_Median  Income_Min  Income_Max    Income_Std  \
0    18-25  51134.550000        49722.5       37691       65380   7260.369974
1    26-35  50015.346154        49506.5       23802       74632  12249.310367
2    36-45  50146.291667        50510.5       30124       71904   9123.121422
3    46-60  48105.400000        48274.0       34493       68861   8160.289382

   Spendingscore_Mean  Spendingscore_Median  Spendingscore_Min  \
0           58.700000                  59.0                 35
1           64.115385                  65.5                 29
2           63.416667                  63.0                 39
3           58.433333                  60.5                 31

   Spendingscore_Max  Spendingscore_Std  Savings_Mean  Savings_Median  \
0                 81          14.818552  15502.950000         15942.5
1                117          18.569495  14653.923077         15078.0
2                100          13.223552  15492.583333         15525.5
3                 87          12.907318  15467.033333         14682.0

   Savings_Min  Savings_Max  Savings_Std
0         7820        22206  3878.449588
1        -1206        23162  5277.833479
2         8695        25610  4666.063902
3         5239        25665  4882.891275